<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0                       http://maven.apache.org/xsd/settings-1.0.0.xsd">
  <localRepository />
  <interactiveMode />
  <usePluginRegistry />
  <offline />
  <pluginGroups />
  <servers>
    <server>
      <id>exchange-server</id>
      <username>dev29_masakikawaguchi</username>
      <password>Accenture2021</password>
    </server>
    <server>
      <id>github</id>
      <username>Masaki-Rock</username>
      <password>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</password>
    </server>
    <server>
      <id>github-oauth</id>
      <passphrase>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</passphrase>
    </server>
  </servers>
  <mirrors />
  <proxies />
  <profiles>
    <!-- 開発環境用プロファイル -->
    <profile>
      <id>development</id>
      <activation>
        <activeByDefault>true</activeByDefault>
        <property>
          <name>environment</name>
          <value>dev</value>
        </property>
      </activation>
      <properties>
        <!-- 接続アプリケーション -->
        <connectedAppClientId>a4fc1e985e974cbd917a0b357671d024</connectedAppClientId>
        <connectedAppClientSecret>6401b69833564e3eb91E6Ca9668E4ED1</connectedAppClientSecret>
        <!-- ターゲット組織 -->
        <businessGroup>アクセンチュア</businessGroup>
        <environment>Sandbox</environment>
        <!-- ランタイムマネージャ -->
        <name>smpl-dev-account-v1</name>
        <deploymentType>cloudhub</deploymentType>
        <redeploy>true</redeploy>
        <workerType>Micro</workerType>
        <workers>1</workers>
        <region>us-east-1</region>
        <api.id>17534332</api.id>
        <environment.clientId>e0d4cb05f70b41009d948ecf44b11031</environment.clientId>
        <environment.client_secret>5470F704c42b4a98a8257f213c35c967</environment.client_secret>
      </properties>
    </profile>
    <!-- 本番環境用プロファイル -->
    <profile>
      <id>production</id>
      <activation>
        <property>
          <name>environment</name>
          <value>prod</value>
        </property>
      </activation>
      <properties>
        <!-- 接続アプリケーション -->
        <connectedAppClientId>a4fc1e985e974cbd917a0b357671d024</connectedAppClientId>
        <connectedAppClientSecret>6401b69833564e3eb91E6Ca9668E4ED1</connectedAppClientSecret>
        <!-- ターゲット組織 -->
        <businessGroup>アクセンチュア</businessGroup>
        <environment>Sandbox</environment>
        <!-- ランタイムマネージャ -->
        <name>smpl-dev-account-v1</name>
        <deploymentType>cloudhub</deploymentType>
        <redeploy>true</redeploy>
        <workerType>Micro</workerType>
        <workers>1</workers>
        <region>us-east-1</region>
        <api.id>17534332</api.id>
        <environment.clientId>e0d4cb05f70b41009d948ecf44b11031</environment.clientId>
        <environment.client_secret>5470F704c42b4a98a8257f213c35c967</environment.client_secret>
      </properties>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>development</activeProfile>
  </activeProfiles>
</settings>